/* @import 'tailwindcss/base'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pretendard";
  src: url("../assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "pretendard";
  src: url("../assets/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "pretendard";
  src: url("../assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
}

@layer base {
  html {
    font-family: "pretendard", system-ui, sans-serif;
  }
}

@media (min-width: 769px)  {
  html {
    font-size: 20px;
  }
}
