<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="enter-euid-team9" />
    <meta property="og:url" content="https://enter-euid-team9.netlify.app/" />
    <meta property="og:image" content="url" />
    <meta property="og:image:alt" content="" />
    <meta property="og:author" content="JS9haejo" />
    <meta property="og:description" content="설명" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />
    <title>enter-euid-team9</title>

    <script src="/js/main.js" type="module"></script>
  </head>

  <body>
   
    <!--이름으로 검색하기 -->
    <div>
          <a href=""><img src="../assets/icons/direction-left.svg" alt="뒤로 가기" /></a>
      <span class="">
        <span><img src="../assets/icons/search.svg" alt="돋보기 모양" /></span>
        <input type="text" placeholder="분야(이름)로 검색 (ex.프론트)"></input>
      </span>
    </div>

    <!-- 관심분야 버튼 -->
    <div class="m-4">
      <button class="bg-primary text-white font-normal py-3 px-16 rounded inline-flex items-center ">
        <img src="../assets/icons/position.svg" alt="동그라미 모양" />
        <span calss=>관심분야 선택하기</span>
      </button>
    </div>
    
    <!-- 분야 버튼 그룹 -->
    <div class="button-group">
      <div class="button-wrapper">
        <button class="bg-gray4 w-32 h-16 rounded">
            <div calss>
              <p class="text-white text-base">프로그래밍</p>
              <p class="text-black text-2xl font-bold">프로트엔드</p>
            </div>
            <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
          </button>



        <button class="bg-gray4 w-32 h-16 rounded">
          <div>
            <p class="text-white text-base">프로그래밍</p>
            <p class="text-black text-2xl font-bold">백 엔드</p>
          </div>
          <img src="../assets/icons/plus.svg"  alt="플러스 모양의 버튼" />
        </button>
      </div>
      
      
      <div class="button-wrapper">
        <button class="bg-gray4 w-32 h-16 rounded">
          <div>
            <p>프로그래밍</p>
            <p>알고리즘</p>
          </div>
          <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
        </button>
        <button button class="bg-gray4 w-32 h-16 rounded">
          <div>
            <p>프로그래밍</p>
            <p>기초지식</p>
          </div>
          <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
        </button>
      </div>


      <div class="button-wrapper">
        <button button class="bg-gray4 w-32 h-16 rounded">
          <div>
            <p>디자인</p>
            <p>UI디자인</p>
          </div>
          <img src="../assets/icons/plus.svg"  alt="플러스 모양의 버튼" />
        </button>


        <button class="bg-gray4 w-32 h-16 rounded">
          <div>
            <p>디자인</p>
            <p>UX디자인</p>
          </div>
          <img src="../assets/icons/plus.svg"  alt="플러스 모양의 버튼" />
        </button>
      </div>
      
      <div class="button-wrapper">
        <button button class="bg-gray4 w-32 h-16 rounded">
          <div>
            <p>디자인</p>
            <p>UI·UX</p>
          </div>
          <img src="../assets/icons/plus.svg"  alt="플러스 모양의 버튼" />
        </button>
        
        <button button class="bg-gray4 w-32 h-16 rounded">
          <div>
            <p>데이터</p>
            <p>데이터분석</p>
          </div>
          <img src="../assets/icons/plus.svg"  alt="플러스 모양의 버튼" />
        </button>
      </div>

      <div class="button-wrapper">
        <button class="bg-gray4 w-32 h-16 rounded">
          <div>
            <p>데이터</p>
            <p>데이터 통계분석</p>
          </div>
          <img src="../assets/icons/plus.svg"  alt="플러스 모양의 버튼" />
        </button>
        
        <button button class="bg-gray4 w-32 h-16 rounded">
          <div>
            <p>데이터</p>
            <p>시각화</p>
          </div>
          <img src="../assets/icons/plus.svg"  alt="플러스 모양의 버튼" />
        </button>
      </div>
        </div>

        <!--저장하기 버튼  -->
    <button button class="bg-primary text-white font-normal py-3 px-20 rounded inline-flex items-center">이대로 저장할래요</button>


  </body>
</html>
