<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="enter-euid-team9" />
    <meta property="og:url" content="https://enter-euid-team9.netlify.app/" />
    <meta property="og:image" content="url" />
    <meta property="og:image:alt" content="" />
    <meta property="og:author" content="JS9haejo" />
    <meta property="og:description" content="설명" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon" />
    <title>enter-euid-team9</title>

    <script src="/js/main.js" type="module"></script>
  </head>

  <body class="bg-gray-200">
    <div
      class="absolute left-1/2 top-1/2 h-screen max-h-[690px] min-w-[320px] max-w-max -translate-x-1/2 -translate-y-1/2 bg-white"
    >
      <header class="flex h-9 items-center justify-between pl-6 pr-6">
        <time datetime="" class="text-sm">14:29</time>

        <ul class="flex items-center">
          <li class="h-3 w-6 bg-signal bg-bottom bg-no-repeat"></li>
          <li class="h-3 w-6 bg-lte bg-left-bottom bg-no-repeat"></li>
          <li class="h-3 w-6 bg-battery bg-left-bottom bg-no-repeat"></li>
        </ul>
      </header>


      <!--이름으로 검색하기 -->
      <div class="mt-2 inline-flex ml-4 items-center justify-center" >
        <a href=""><img class="ml-4" src="../assets/icons/direction-left.svg" alt="뒤로 가기" /></a>
      <div class="ml-2 border-b">
        <span><img class="h-4 inline-flex" src="../assets/icons/search.svg" alt="돋보기 모양" /></span>
        <input class="text-sm w-56" type="text" placeholder="분야 (이름)로 검색 (ex. 프론트)"></input>
      </div>
    </div>
  
  <!-- 관심분야 버튼 -->
  <div class="mt-1 ml-4 mb-2">
    <button type="button" class="ml-2 m-2 rounded border border-primary bg-primary w-72 py-1 font-normal text-white">
      <img class="mr-1 inline-flex"src="../assets/icons/position.svg" alt="동그라미 모양" />
      <span class="text-xs">관심분야 선택하기</span>
    </button>
  </div>
  
  <!-- 분야 버튼 그룹 -->
  <div class="flex-col justify-around items-center w-72 m-6 mt-2 mb-2">
  
        
        <div class="flex justify-between mb-4">
          <button class="bg-gray4 w-36 h-14 mr-2 rounded pr-2 pl-2 flex justify-between items-center">
            <div class="flex-col">
              <p class="text-white text-xs -ml-4">프로그래밍</p>
              <p class="text-black text-base font-bold">프론트엔드</p>
            </div>
            <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
          </button>
          <button class="bg-gray4 w-36 h-14 rounded pr-2 pl-2 flex justify-between items-center">
            <div>
              <p class="text-white text-xs ml-1">프로그래밍</p>
              <p class="text-black text-base font-bold ">백 엔드</p>
            </div>
            <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
          </button>
        </div>
    
    
    <div class="flex justify-between mb-4">
      <button class="bg-gray4 w-36 h-14 rounded pr-2 pl-2 mr-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs">프로그래밍</p>
          <p class="text-black text-base font-bold -ml-2">리액트</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
      <button class="bg-gray4 w-36 h-14 rounded pr-2 pl-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs">프로그래밍</p>
          <p class="text-black text-base font-bold -ml-2">풀스택</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
    </div>
  
  
    <div class="flex justify-between mb-4">
      <button class="bg-gray4 w-36 h-14 rounded pr-2  mr-2 pl-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs -ml-1">프로그래밍</p>
          <p class="text-black text-base font-bold">알고리즘</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
      <button class="bg-gray4 w-36 h-14 rounded pr-2 pl-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs -ml-1">프로그래밍</p>
          <p class="text-black text-base font-bold">기초지식</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
    </div>
    
   
    <div class="flex justify-between mb-4">
      <button class="bg-gray4 w-36 h-14 rounded pr-2 mr-2  pl-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs -ml-6">디자인</p>
          <p class="text-black text-base font-bold">UI디자인</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
      <button class="bg-gray4 w-36 h-14 rounded pr-2 pl-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs -ml-8">디자인</p>
          <p class="text-black text-base font-bold">UX디자인</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
    </div>
  
    <div class="flex justify-between mb-4">
      <button class="bg-gray4 w-36 h-14 rounded pr-2 mr-2  pl-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs -ml-4">디자인</p>
          <p class="text-black text-base font-bold">UI·UX</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
      <button class="bg-gray4 w-36 h-14 rounded pr-2 pl-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs -ml-10">데이터</p>
          <p class="text-black text-base font-bold">데이터분석</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
    </div>
  
    <div class="flex justify-between mb-4">
      <button class="bg-gray4 w-36 h-14 rounded pr-2 pl-2  mr-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs -ml-6">데이터</p>
          <p class="text-black text-base font-bold">통계분석</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
      <button class="bg-gray4 w-36 h-14 rounded pr-2 pl-2 flex justify-between items-center">
        <div>
          <p class="text-white text-xs -ml-2">데이터</p>
          <p class="text-black text-base font-bold">시각화</p>
        </div>
        <img src="../assets/icons/plus.svg" alt="플러스 모양의 버튼" />
      </button>
    </div>
  
  </div>
  
      <!--저장하기 버튼  -->
  
  
  
  <div class="flex items-center justify-center">
    <button
      class="ml-2 rounded border border-primary bg-primary w-72 py-1 text-sm text-white">
      이대로 저장할래요
    </button>
  
  </div>























    </div>
  </body>
</html>


