<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="../js/home.js"></script>
    <title>home</title>
  </head>
  <body>
    <header></header>

    <!-- main -->
    <main class="container">
      <!-- location -->
      <div class="location">
        <div class="location-dropdown">
          <h1>남가좌제 2동</h1>
          <img src="/client/assets/icons/direction.svg" alt="dropdown" />
        </div>
        <a href="/" class="location-search">
          <img src="/client/assets/icons/search.svg" alt="search" />
        </a>
      </div>
      <!-- banner -->
      <figure class="banner">
        <img
          src="../assets/images/data_img_camera_3.jpg"
          alt="banner"
          width="360px"
        />
        <figcaption>
          <h1 class="banner-title">
            풀리지 않는 버그 속<br />개발자로 살아남기
          </h1>
          <span class="banner-description">자세히 보기</span>
          <div class="banner-swiper-indicator">01-03</div>
        </figcaption>
      </figure>
      <!-- contents -->
      <!-- ul.contents>li>a>figure -->
      <ul class="contents">
        <li>
          <a href="/" class="list">
            <figure>
              <img
                src="../assets/images/data_img_soap_1.jpg"
                alt="soap"
                width="120px"
              />
              <figcaption>
                <h1 class="list-name">2017 mac pro</h1>
                <span class="list-description">마포구 신수동 • 44분전</span>
                <strong class="list-price">800,000원</strong>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </main>

    <nav></nav>
  </body>
</html>
