<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="enter-euid-team9" />
    <meta property="og:url" content="https://enter-euid-team9.netlify.app/" />
    <meta property="og:image" content="url" />
    <meta property="og:image:alt" content="" />
    <meta property="og:author" content="JS9haejo" />
    <meta property="og:description" content="설명" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="./../js/maindetail.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>enter-euid-team9</title>
  </head>

  <body class="bg-gray-200">
    <div
      id="container"
      class="absolute left-1/2 top-1/2 h-screen max-h-fit min-w-[320px] max-w-[380px] -translate-x-1/2 -translate-y-1/2 bg-white"
    >
      <!-- 상단 스와이퍼 이미지 구간-->
      <div class="swiper productSwiperimage h-[284px]">
        <div class="swiper-wrapper productWrapper h-[284px]">
          <!-- Slides -->
          <!-- 동적으로 생성되어야 할 아이템이미지 -->
          <!-- <div class="swiper-slide product__item1"></div>
          <div class="swiper-slide product__item2"></div> -->
          <!-- <img src="" alt="" /> -->
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <!-- 사용자 정보 및 매너온도 섹션-->
      <section class="userInfo flex py-3 pl-3 pr-3">
        <div class="userInfoManner"></div>
      </section>

      <!-- 상품 설명 섹션-->
      <section class="productDetail border-b-2 pl-3 pr-3">
        <div class="productInformation">
          <!-- 동적으로 생성되어야 할 아이템 이름 -->
        </div>
        <div
          class="productDetailPriceWrppaer flex items-center justify-center pb-9 text-sm"
        >
          <div class="heart cursor-pointer"></div>
          <div class="line mx-3 h-[32px] w-[1px] border"></div>
          <div class="productDetailPrice flex-grow">
            <div
              class="productDetailPrice__proposal text-[0.625rem] font-bold text-secondary"
            >
              가격 제안하기
            </div>
          </div>
          <button
            class="productDetailPrice__chattingButton rounded-lg bg-secondary px-3 py-2 text-sm text-white"
          >
            채팅하기
          </button>
        </div>
      </section>

      <!-- 이글과 함께 봤어요 섹션-->
      <div
        class="userTogether h-[400px] overflow-auto px-3 py-4 text-sm font-bold"
      >
        <h2 class="userTogether__title px-3 py-[14px]">이 글과 함께 봤어요</h2>
        <ul class="userTogether__list flex flex-wrap"></ul>
      </div>
    </div>
  </body>
</html>
