<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="enter-euid-team9" />
    <meta property="og:url" content="https://enter-euid-team9.netlify.app/" />
    <meta property="og:image" content="url" />
    <meta property="og:image:alt" content="" />
    <meta property="og:author" content="JS9haejo" />
    <meta property="og:description" content="설명" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />
    <script src="./../js/maindetail/main.js" type="module"></script>
    <title>enter-euid-team9</title>
  </head>

  <body class="bg-gray-200">
    <div
      class="absolute left-1/2 top-1/2 h-screen max-h-[780px] min-w-[320px] max-w-[380px] -translate-x-1/2 -translate-y-1/2 bg-white"
    >
      <header class="flex h-9 items-center justify-between pl-6 pr-6">
        <time datetime="" class="text-sm">14:29</time>
        <ul class="flex items-center">
          <li class="h-3 w-6 bg-signal bg-bottom bg-no-repeat"></li>
          <li class="h-3 w-6 bg-lte bg-left-bottom bg-no-repeat"></li>
          <li class="h-3 w-6 bg-battery bg-left-bottom bg-no-repeat"></li>
        </ul>
      </header>
      <!-- 상단 스와이퍼 이미지 구간-->
      <div class="swiper productSwiperimage h-[300px] bg-gray-600">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper productWrapper">
          <!-- Slides -->
          <div class="swiper-slide product__item1"></div>
          <div class="swiper-slide product__item2"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <!-- 사용자 정보 및 매너온도 섹션-->
      <section class="userInfo flex py-3 pl-3 pr-3">
        <div class="userInfoProfile flex flex-grow">
          <img
            src="./../assets/images/data_img_camera_3.jpg"
            alt="infoThumbnail"
            class="userInfo__thumbnail h-[40px] w-[40px] rounded-[50%]"
          />
          <div class="flex flex-col pl-[0.375rem]">
            <span class="userInfoProfile__name text-sm font-bold">맥이뜸</span>
            <span class="userInfoProfile__adreess text-[0.625rem]">응암동</span>
          </div>
        </div>
        <div class="userInfoManner">
          <span
            class="userInfoManner__temperature text-sm font-bold text-secondary"
            >41.2C</span
          >
          <span class="userInfoManner__emoji">😀</span>
          <span
            class="userInfoManner__mannerTemperature ml-4 block text-xs text-[#919191]"
            >매너온도</span
          >
        </div>
      </section>

      <!-- 상품 설명 섹션-->
      <section class="productDetail border-b-2 pl-3 pr-3">
        <div class="productInformation">
          <h2 class="productDetail__title pb-1 text-lg font-bold">
            2020 MacBook Air M1
          </h2>
          <div class="productDetail__category pb-3 text-sm text-gray4">
            컴퓨터 • 17분전
          </div>
          <div class="productDetail__description h-[6.75rem] max-h-56 text-sm">
            상태 깨끗하고 좋아요<br />
            왜냐하면 맥을 사용할 줄 몰라서 넷플릭스용으로만 봤어요. 집근처에서
            거래 희망합니다.
          </div>
        </div>
        <div
          class="productDetailPriceWrppaer flex items-center justify-center pb-9 text-sm"
        >
          <div class="heart-ico is-active">🤍</div>
          <div class="line mx-3 h-[32px] w-[1px] border"></div>
          <div class="productDetailPrice flex-grow">
            <span class="font-bold">820000원</span>
            <div
              class="productDetailPrice__proposal text-[0.625rem] font-bold text-secondary"
            >
              가격 제안하기
            </div>
          </div>
          <button
            class="productDetailPrice__chattingButton rounded-lg bg-secondary px-3 py-2 text-sm text-white"
          >
            채팅하기
          </button>
        </div>
      </section>

      <!-- 이글과 함께 봤어요 섹션-->
      <div class="userTogether px-3 py-4 text-sm font-bold">
        <h2 class="userTogether__title">이 글과 함께 봤어요</h2>
        <ul class="userTogether__list"></ul>
      </div>
    </div>
  </body>
</html>
