<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon" />
    <title>enter-euid-team9</title>

    <script src="/js/mypage.js" type="module"></script>
  </head>

  <body class="bg-gray-200">
    <div
      id="container"
      class="absolute left-1/2 top-1/2 h-screen max-h-[44rem] min-w-[320px] max-w-max -translate-x-1/2 -translate-y-1/2 bg-white"
    >
      <h1 class="sr-only">마이페이지</h1>
      <section
        class="flex h-[610px] w-full flex-col items-center justify-center gap-4 bg-gray-300 pl-3 pr-3"
      >
        <h2>
          <span class="text-xl font-bold text-primary">my </span
          ><span class="text-xl font-bold text-secondary">E</span
          ><span class="text-xl font-bold text-primary">UID</span>
        </h2>
        <ul
          class="flex w-full flex-col items-center gap-3 rounded-lg bg-white p-3"
        >
          <li
            id="profileImg"
            class="h-16 w-16 rounded-full bg-gray-200 bg-my bg-cover bg-center bg-no-repeat"
          ></li>
          <li class="flex w-full justify-between">
            <span>이름</span><span id="name"></span>
          </li>
          <li class="flex w-full justify-between">
            <span>주소</span><span id="address"></span>
          </li>
        </ul>
        <div class="flex w-full justify-between">
          <button
            id="logout"
            type="button"
            class="w-[140px] rounded-lg bg-gray-100 p-2 text-sm text-gray-700 hover:bg-primary hover:text-white"
          >
            로그아웃
          </button>
          <button
            id="resign"
            type="button"
            class="w-[140px] rounded-lg bg-gray-100 p-2 text-sm text-gray-500 hover:bg-primary hover:text-white"
          >
            회원탈퇴
          </button>
        </div>
      </section>
    </div>
  </body>
</html>
