<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="enter-euid-team9" />
    <meta property="og:url" content="https://enter-euid-team9.netlify.app/" />
    <meta property="og:image" content="url" />
    <meta property="og:image:alt" content="" />
    <meta property="og:author" content="JS9haejo" />
    <meta property="og:description" content="설명" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />
    <title>enter-euid-team9</title>

    <script src="./js/main.js" type="module"></script>
  </head>

  <body>

    <div>
      <a href=""><img src="../assets/icons/direction.svg" alt="뒤로 가기" /></a>
  <input type="text" placeholder="장천동 근처에서 검색"></input>
</div>

<h2>친구들이 많이 찾고 있어요!</h2>

<button type="button">노트북</button>

<button type="button">노트북 거치재</button>

<button type="button">키보드</button>

<button type="button">마우스</button>

<button type="button">헤드셋</button>

    <!-- <span class="text-4xl font-normal">normal</span> -->
    <!-- <div class="h-6 bg-search bg-no-repeat"></div> -->
  </body>
</html>
