<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon" />
    <title>enter-euid-team9:로그인</title>
    <script src="/js/signin.js" type="module"></script>
  </head>

  <body class="bg-gray-200">
    <div
      id="container"
      class="absolute left-1/2 top-1/2 h-screen max-h-[690px] min-w-[320px] max-w-max -translate-x-1/2 -translate-y-1/2 bg-white"
    >
      <h1 class="sr-only">로그인 페이지</h1>
      <header>&lt;</header>
      <section>
        <h2>안녕하세요! 휴대폰 번호로 로그인해주세요.</h2>
      </section>
    </div>
  </body>
</html>
