<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="enter-euid-team9" />
    <meta property="og:url" content="https://enter-euid-team9.netlify.app/" />
    <meta property="og:image" content="url" />
    <meta property="og:image:alt" content="" />
    <meta property="og:author" content="JS9haejo" />
    <meta property="og:description" content="설명" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon" />
    <title>enter-euid-team9</title>

    <script src="/js/main.js" type="module"></script>
  </head>

  <body class="bg-gray-200">
    <div
      class="absolute left-1/2 top-1/2 h-screen max-h-[690px] min-w-[320px] max-w-max -translate-x-1/2 -translate-y-1/2 bg-white"
    >
      <header class="flex h-9 items-center justify-between pl-6 pr-6">
        <time datetime="" class="text-sm">14:29</time>

        <ul class="flex items-center">
          <li class="h-3 w-6 bg-signal bg-bottom bg-no-repeat"></li>
          <li class="h-3 w-6 bg-lte bg-left-bottom bg-no-repeat"></li>
          <li class="h-3 w-6 bg-battery bg-left-bottom bg-no-repeat"></li>
        </ul>
      </header>
    </div>
  </body>
</html>
